extends ./main 
block content 
    div.container
        h2 #{title}
        if msg === 1
            div.alert.alert-success Cliente Cadastrado com sucesso!
        if msg === 2
            div.alert.alert-danger Não foi possível cadastrar o cliente!
        if msg === 3
            div.alert.alert-success Cliente Alterado com sucesso! 
        if msg === 4
            div.alert.alert-danger Não foi possível alterar o cliente!
            
        table.table.table-bordered.form-align-top
            thead 
                tr 
                    th nome 
                    th cpf 
                    th Telefone 
                    th E-mail 
                    th Contato 
                    th Ações 
            tbody 
                each client in clients
                    tr 
                        td= client.cliente
                        td= client.CPF
                        td= client.telefone 
                        td= client.email 
                        td= client.contato 
                        td
                            a(href="/client/edit/" + client.id, class="btn btn-info") Editar
                            form(
                                method="POST",
                                action="/client",
                                style="display: inline-block")
                                input(type="hidden", name="_method", value="DELETE")
                                button.btn.btn-danger(type="submit") Deletar